<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tbody>
    <h1>Discos</h1>
    <tr th:each="disco: ${discos}">
        <td th:text="${disco.codigo}"></td>
        <td th:text="${disco.cantante}"></td>
        <td th:text="${disco.titulo}"></td>
        <td th:text="${disco.fecha}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>